.root
{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #00a8ff,#00fff3);
    -fx-font-size: 14pt;
}

.label
{
    -fx-text-fill: #1d1569;
}

#header
{
    -fx-font-size: 26pt;
}

#button
{
    -fx-background-color: linear-gradient(#0023ff, #007dff);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

#button:hover
{
    -fx-background-color: #0082ff;
}

#cityName
{
    -fx-font-size: 20pt;
    -fx-text-fill: #2b293d;
}
